/* FAQ Styles */
.wrapper {
    position: relative;
    min-height: 100vh;
    font-size: xx-large;
    text-align: center;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
}

.page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 50px;
    z-index: 1;
}

.section {
    width: 60%;
}

.class-info {
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    border-left: 3px solid rgba(0, 255, 255, 0.8);
    border-right: 3px solid rgba(0, 255, 255, 0.8);
    transition: background-color 0.3s ease;
    overflow: hidden;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 120%);
    position: relative;
}

.class-info h1 {
    color: #fffffff8;
    font-size: 150%;
}

.class-info:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 255, 255, 1), inset 0 0 10px rgba(0, 255, 255, 0.6);
}

.active {
    background-color: rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 255, 255, 1), inset 0 0 10px rgba(0, 255, 255, 1);
}

.right-column {
    position: relative;
    top: 20%;
    font-size: 30px;
    align-items: center;
    right: 0;
    width: 50%;
    padding: 10px;
}

.contentSection {
    background-color: rgba(228, 222, 222, 0.8);
    transition: background-color 0.3s ease;
    border-color: rgba(0, 255, 255, 1);
    padding: 10px;
    border-style: groove;
    border-width: 1px;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .class-info {
        font-size: 14px;
    }

    .right-column {
        font-size: 20px;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .h-text h1 {
        font-size: 2.5rem;
    }

    .h-text h2 {
        font-size: 1.8rem;
    }

    .info {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .carousel-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .h-text h1 {
        font-size: 2rem;
    }

    .h-text h2 {
        font-size: 1.5rem;
    }

    nav .home a {
        font-size: 1rem;
    }

    .texture a {
        padding: 8px 20px;
    }

    #up-arrow {
        padding: 8px 10px;
    }
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1; /* Ensure the video is behind other elements */
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none; /* Prevent interaction with the video */
}
