.h-text{
    width: auto;
    height: auto;
    font-family:tfont;
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    position: none;
    top: 200px;
    right: 50px;
    animation: fade-in  3s ease-out  forwards;
    opacity: 0;
    background: linear-gradient(90deg, #fa6a0a, #0cb9fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-direction:column;
}
.h-text h1{
    font-size: 4vh;
}
.h-text a{
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px ;
    color: #fff;
    letter-spacing:1px;
}

@keyframes anim3{
    from{
        left: -100%;

    }
    to{
        left: 0%;
    }
}

@font-face {
    font-family:myfont;
    src: url(Sinera.otf);
}
@font-face {
    font-family:tfont;
    src: url(DIMITRI_.TTF);
}
h1{
    font-family: myfont;
    background: linear-gradient(90deg, #ac0de6, #0cdafe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.animated-college-name {
    animation: fade-in  4s ease-out  forwards;
    opacity: 0;
}
@keyframes fade-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
